<%- include("./partials/header") %>
<%- include("./partials/nav") %>
<div class="relative posts w-full bg-zinc-500 mt-10 p-10 flex gap-10 text-white">
    <div class=" leftblog posts w-72 h-80 bg-white rounded-lg py-3 flex flex-col justify-between"><img src="<%=post.image%>" alt="" class="w-full h-full object-cover"></div>
    <div class="rightblog w-full h-80  rounded-lg overflow-y-scroll p-5 text-xl capitalize font-bold "> 
      <h1 class="absolute top-0 fixed text-3xl font-bold"><%=post.title%></h1>
      <br>
      <div class="sroller "><%=post.description%></div>
      <div class="likecomment absolute bottom-2 text-4xl text-yellow-500 bg-zinc-500">
        <a href="/post/likes/<%=post._id%>"><i class="ri-thumb-up-line">-<%=post.likes.length%></i></a>
      </div>
    </div>

  </div>
</div>
<%- include("./partials/footer") %>