<%- include("./partials/header") %>
<%- include("./partials/nav") %>
<div class="posts w-full bg-zinc-500  p-10 flex gap-10 flex-wrap justify-center">
    <% allPosts.forEach((post,i)=>{%>
    <div
      class="posts w-56 h-80 bg-white rounded-lg py-3 flex flex-col justify-between"
    >
      <section class="w-full h-52 bg-pink-300 rounded">
        <img src="<%=post.image%>" alt="" class="object-cover w-full h-full" />
      </section>
      <p class="overflow-auto"><%=post.description%>.....</p>
      <a href="/exploreBlog/<%=post._id%>"
        ><button class="px-4 py-1 bg-blue-100 rounded-lg">
          explore more
        </button></a
      >
    </div>

    <%})%>
  </div>
</div>
<%- include("./partials/footer") %>