<%- include('./partials/header') %> <%- include('./partials/nav') %>

<div
  class="createuser w-full bg-zinc-300 flex flex-col justify-center items-center"
>
  <div
    class="profile-image w-2/3 p-5 bg-blue-100 flex flex-col items-center rounded-lg relative"
  >
    <section class="upsection w-full h-32 bg-purple-400 rounded-lg"></section>
    <div
      class="profile-image w-32 h-32 bg-red-300 absolute left-10 top-10 overflow-hidden rounded-lg p-1"
    >
      <img
        src="<%=user.profileImage%>"
        alt=""
        class="object-cover rounded-lg"
      />
    </div>
    <!-- //form -->
    <!-- <form action="/users/image" method="post" enctype="multipart/form-data" >
      <input type="file" name="image" id="">
      <input type="submit" name="" id="">
    </form> -->
    <section class="downsection w-full mt-8 flex justify-between">
      <div class="left w-1/3 h-32 text-black p-4">
        <h1 class="text-2xl font-bold">Name:<%=user.fullname%></h1>
        <h1 class="text-xl font-regular">@:<%=user.username%></h1>
        <a href="/deleteuser/<%=user._id%>"
          ><button class="px-4 py-2 bg-red-300 rounded-lg mt-10">
            Delete
          </button></a
        >
        <a href="/updateprofile/<%=user._id%>"
          ><button class="px-4 py-2 bg-blue-300 rounded-lg mt-10">
            update
          </button></a
        >
      </div>
      <div class="right w-1/2 h-32 text-black">
        <h1 class="text-2xl font-bold">Username:<%=user.email%></h1>
        <h1 class="text-xl font-regular">email:<%=user.username%></h1>
        <section class="mt-14 ">
          <a href="/resetPassword"
          ><button class="px-4 py-2 bg-pink-300 rounded-lg ">
            Reset password
          </button></a
        >
        <a href="/createpost"
          ><button class="px-4 py-2 bg-pink-300 rounded-lg ">
            Create
          </button></a
        >
        <a href="/users/logout" class="px-4 py-2 bg-pink-300 rounded-lg "
          >Logout</a
        >
        </section>
      </div>
    </section>
  </div>
  <!-- //all posts are here! -->
  <div
    class="posts w-full bg-zinc-300 mt-10 p-10 flex flex-wrap justify-center gap-10"
  >
    <% allPosts.forEach((post,i)=>{%>
    <div
      class="posts w-56 h-80 bg-white rounded-lg py-3 flex flex-col justify-between shrink-0"
    >
      <section class="w-full h-52  rounded">
        <img src="<%=post.image%>" alt="" class="object-cover w-full h-full" />
      </section>
      <p class="overflow-auto"><%=post.description%>.....</p>
      <section class="flex justify-between px-1">
        <a href="/exploreBlog/<%=post._id%>">
          <button class="px-4 py-1 bg-blue-100 rounded-lg">explore more </button>
        </a>
        <a href="/post/deleteBlog/<%=post._id%>">
          <button class="px-4 py-1 bg-blue-100 rounded-lg ">Delete</button>
        </a>
      </section>
    </div>

    <%})%>
  </div>
</div>
<%- include('./partials/footer') %>
