<%- include("./partials/header") %>

<div
  class="main w-full h-screen bg-zinc-300 flex flex-col items-center border-2 border-zinc-300"
>
  <%- include("./partials/nav") %>
  <form
    action="/users/updateprofile/<%=user._id%>"
    method="post"
    enctype="multipart/form-data"
    class="w-1/2 p-5 border border-black"
  >
    <h1 class="text-2xl font-semibold mb-2">Update User !</h1>

    <img src="<%=user.image%>" alt="" class="w-32 h-32 rounded" />
    <input type="file" name="image" id="" class="w-full p-3 rounded-sm mb-2" />
    <input
      type="submit"
      value="changePic."
      name=""
      id=""
      class="px-3 py-2 bg-red-300 rounded mr-20"
    />
  </form>

  <form
    action="/users/updateprofile/<%=user._id%>"
    method="post"
    class="w-1/2 p-5 border border-black"
  >
    <input
      value="<%=user.fullname%>"
      type="text"
      name="fullname"
      id=""
      placeholder="fullname"
      class="w-full p-3 rounded-sm mb-2"
    />
    <input
      value="<%=user.username%>"
      type="text"
      name="username"
      id=""
      placeholder="username"
      class="w-full p-3 rounded-sm mb-2"
    />
    <input
      value="<%=user.email%>"
      type="email"
      name="email"
      id=""
      placeholder="email"
      class="w-full p-3 rounded-sm mb-2"
    />
    <br />
    <input
      type="submit"
      value="Update"
      class="px-3 py-2 bg-red-300 rounded mr-20"
    />
  </form>
</div>
<%- include("./partials/footer") %>
